<div class="background-user-photo">
    <div id="photoBackground" class="background-user-photo" style="background-image: url('https://media-exp1.licdn.com/dms/image/C4D03AQGFL2oRm7Cc7A/profile-displayphoto-shrink_800_800/0/1604362355310?e=1631145600&v=beta&t=8189lkeuRkDe3nBW0VMrNv2NVVJh2GKBf3bMF-QxF_E');"></div>
</div>
<div id="photoPicture" class="photo-user">
    <img class="user-photo" src="https://media-exp1.licdn.com/dms/image/C4D03AQGFL2oRm7Cc7A/profile-displayphoto-shrink_800_800/0/1604362355310?e=1631145600&v=beta&t=8189lkeuRkDe3nBW0VMrNv2NVVJh2GKBf3bMF-QxF_E">
</div>