.background-user-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -430px;
    filter: blur(3px);
    height: 100%;
    width: 100%;
}

.photo-user {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    border-radius: 450px;
    width: inherit;
    margin-top: -70px;
}

.user-photo {
    border: 2px solid #cecece;
    border-radius: 450px;
    filter: blur(0);
}