<body>
  
  <app-box-page-name></app-box-page-name>

  <app-box-title-page></app-box-title-page>

  <section class="content-user-info container">
    <app-box-photo class="photo-box"></app-box-photo>
    
    <app-box-follow  class="follow-box"></app-box-follow>

    <app-box-main-info class="box-main-info"></app-box-main-info>
  </section>

  <section class="more-info-user container">
    <app-box-personal-info-user class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"></app-box-personal-info-user>
    <app-box-contact-info class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6"></app-box-contact-info>
  </section>

  <script src="js/script.js"></script>
</body>